.blog_content{
	width: 90%;
	padding: 1rem;
	margin: 0 auto;
}

.blog-banner-box { height: auto; }

.blog-posts { margin-bottom: 10px; }

.blog-posts-list {
	margin-top: 1rem;
  	display: grid;
  	grid-template-columns: 1fr 1fr;
  	gap: 20px;
  	list-style: none;
}