.blog_content{
	width: 90%;
	padding: 1rem;
	margin: 0 auto;
}

.blog-banner-box { height: auto; }

.blog-posts { margin-bottom: 10px; }

.blog-posts-list {
	margin-top: 1rem;
  	display: grid;
  	grid-template-columns: 1fr 1fr;
  	gap: 20px;
  	list-style: none;
}

@media only screen and (max-width: 600px) {
    .blog-posts-list {
	  	grid-template-columns: 1fr;
	}
}

@media only screen and (min-width: 600px) {
    .blog-posts-list {
	  	grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (min-width: 768px) {
    .blog-posts-list {
	  	grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (min-width: 992px) {
  	.blog-posts-list {
	  	grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (min-width: 1200px) {
	 .blog-posts-list {
	  	grid-template-columns: 1fr 1fr;
	}
}
