.timeline_content{
  align-items: center;
  color: var(--teal); 
  font-size: 20px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.title_time {
  color: var(--orange);
  font-family: "montserrat700";
}

.timeline .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.timeline-list {
  font-size: 15px;
  margin-left: 45px;
  list-style: none;
}

.timeline-item {
  position: relative;
  background-color: var(--teal);
  color: var(--grey-teal);
  border-radius: 10px;
  padding: 1rem;
}

.timeline-item:not(:last-child) {
  margin-bottom: 20px;
}

.timeline-item-title {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 7px;
  font-family: "montserrat700";
}

.timeline-list span {
  color: var(--orange);
  font-weight: 700;
  line-height: 1.6;
  width: 80%;
}

.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -30px;
  width: 1px;
  height: calc(100% + 75px);
  background: var(--orange);
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 25px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: var(--orange);
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--teal);
}

.timeline-text {
  font-weight: 500;
  line-height: 1.6;
}
