main {
  width: 100%;
  height: 100%;
  max-width: 2000px;
  margin: 0 auto;
  margin-bottom: 140px;
}

a {
  text-decoration: none;
  color: var(--teal);
  font-weight: 700;
}

h3 {
  font-size: 30px;
  font-family: "montserrat700";
  text-align: center;
  padding: 1rem;
}
