.blog_post_date{
	font-size: 16px;
	color: var(--teal);
}
.blog_post_title{
	font-size: 20px;
	width: 100%;
	text-align: center;
	color: var(--orange);
}
.blog_post_category{
	font-size: 16px;
	width: 100%;
	text-align: center;
	margin-bottom: 1rem;
	color: var(--teal);
}

.blog_post_description{
	font-size: 16px;
	width: 100%;
	text-align: left;
	margin-bottom: 1rem;
	color: var(--teal);
	text-align: center;
	padding:1rem;
	background-color: var(--teal);
	color: var(--grey-teal);
}

.blog_post_body{
	text-align: justify;
	color: var(--teal);
}

.blog_post_body > h3{
	font-size: 18px;
	color: var(--orange);
}

.blog_post_body > ul , .blog_post_body > ol, .blog_post_body > p{
	padding: 1rem;
}

code{
	width: 100%;
	color: var(--grey-teal);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: left;
	position: relative;
	height: 100%;
	background-color: #2a2a2a;
	border-radius: 20px;
	padding: 1rem;
	overflow-x: scroll;
}
