header {
  width: 100%;
  height: 140px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "montserrat700";
}
header::before {
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--teal);
  opacity: 0.7;
}

.text_header {
  text-align: center;
  position: absolute;
  color: var(--grey-teal);
  font-size: 20px;
}

.text_header_title {
  color: var(--orange);
  font-size: 25px;
  font-weight: 700;
  text-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.42);
}

@media only screen and (max-width: 600px) {
  header {
    width: 100%;
    height: 600px;
    background-image: url("https://pimenteldev.netlify.app/bg.jpg");
  }
}

@media only screen and (min-width: 600px) {
  header {
    width: 100%;
    height: 400px;
    background-image: url("https://pimenteldev.netlify.app/bg.jpg");
  }
}

@media only screen and (min-width: 768px) {
  header {
    width: 100%;
    height: 400px;
    background-image: url("https://pimenteldev.netlify.app/bg.jpg");
  }
}

@media only screen and (min-width: 992px) {
  header {
    width: 100%;
    height: 400px;
    background-image: url("https://pimenteldev.netlify.app/bg.jpg");
  }
}

@media only screen and (min-width: 1200px) {
  header {
    width: 100%;
    height: 400px;
    background-image: url("https://pimenteldev.netlify.app/bg.jpg");
  }
}
