.post{
	width: 100%;
	height: 100%;
	padding: 1rem;
	background-color: var(--teal);
	color: var(--grey-teal);
}

.post-banner-box {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
}

.post-banner-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.25s ease;
}


.blog-post-item > a {
  position: relative;
  background: var(--orange);
  color: var(--grey);
  height: 100%;
  border-radius: 16px;
  z-index: 1;
}

.blog-post-item > a::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background: var(--teal);
  z-index: -1;
}

.blog-banner-box {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
}

.blog-banner-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s ease;
}

.blog-post-item > a:hover .blog-banner-box img { transform: scale(1.1); }

.blog-content { padding: 15px; }

.blog-meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  margin-bottom: 10px;
}

.blog-meta :is(.blog-category, time) {
  color: var(--grey-teal);
  font-size: 14px;
  font-weight: 300;
}

.blog-meta .dot {
  background: var(--orange);
  width: 4px;
  height: 4px;
  border-radius: 4px;
  margin-right: 5px;
}

.blog-item-title {
  margin-bottom: 10px;
  line-height: 1.3;
  transition: all .3s ease;
  font-size: 20px;
}

.blog-post-item > a:hover .blog-item-title { color: var(--orange); }

.blog-text {
  color: var(--grey-teal);
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
}

.blog-category-item{
  margin-right: 5px;
}